@model IEnumerable<CartItem>  

<h1>Your Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Photo</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td><img src="@cartItem.Product.Image" style="width:130px;height:150px;"/></td>
                <td>@cartItem.Quantity</td>
                <td>@cartItem.Product.Price</td>
                <td>@(cartItem.Quantity * cartItem.Product.Price)</td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
        <form asp-controller="CartItem" asp-action="CheckOut" method="post">
        <button type="submit">Checkout</button>
        </form>
</div>
