@using HypeHaven.ViewModels.ProductViewModels

@model ProductDetailViewModel
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.Product.Name
        <small>@Model.Product.Price PLN </small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Product.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Product.Name</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">About @Model.Product.Name</h3>
            <ul>
                <li>Cena: @Model.Product.Price PLN</li>
                <li>Kolor: @Model.Product.Color</li>
                <li>Rozmiar: @Model.Product.Size</li>
                <li>Materiał: @Model.Product.Material</li>
                <li>Dostępna ilość: @Model.Product.Quantity</li>
            </ul>
        </div>
        <a type="btn btn-success" asp-controller="Product" asp-action="BuyProduct" type="button" class="btn btn-sm btn-outline-secondary">Buy This Product</a>
    </div>

    <!-- Reviews Section -->
    <h3>Reviews</h3>
    @if (Model.Reviews.Any())
    {
        <ul>
            @foreach (var review in Model.Reviews)
            {
                <li>
                    <strong>Rating: @review.Rating</strong>
                    <p>@review.Text</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No reviews yet. Be the first to leave a review!</p>
    }
