@using HypeHaven.models
@model IEnumerable<Product>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>Products</h1>
            </div>
            <a type="btn btn-success" asp-controller="Product" asp-action="Create" type="button" class="btn btn-sm btn-outline-secondary">Add product</a>

            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("vendor"))
                                    {
                                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
